@{
    string branch = ViewBag.Branch;
}
<h3>Map of @branch</h3>

<div class="mb-2">
    <em>Welcome</em> to <strong class="text-info">out company</strong>
</div>

@if (branch == "HQ")
{
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.9444960999504!2d100.53045731431138!3d13.721810201685912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29f3260ed84f1%3A0xf136e366d7ed18e1!2sAsia%20Centre%20Building!5e0!3m2!1sen!2sth!4v1596877144731!5m2!1sen!2sth" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
}
else if (branch == "JP")
{
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.9444960999504!2d100.53045731431138!3d13.721810201685912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29f3260ed84f1%3A0xf136e366d7ed18e1!2sAsia%20Centre%20Building!5e0!3m2!1sen!2sth!4v1596877144731!5m2!1sen!2sth" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
}
else
{
    <div>not found</div>
}